server:
  port: 8080

spring:
  application:
    name: customer
  zipkin:
    base-url: http://localhost:9411/
  datasource:
    username: 'ibtisamasif'
    url: jdbc:postgresql://localhost:5432/customer
    password: 'password'
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: 'true'
    hibernate:
      ddl-auto: update
    show-sql: 'true'